PORT=8080
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/shipnow?retryWrites=true&w=majority
MONGO_URI_TEST=mongodb+srv://usuario:password@cluster.mongodb.net/shipnow_test?retryWrites=true&w=majority
NODE_ENV=development
LOG_LEVEL=info
JWT_SECRET=super_secreto_jwt